Repository TArch64/manga-love-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, svgo --config ./svgo.config.js

.lintstagedrc:

{
    "*.ts": "eslint --fix",
    "*.svg": "svgo --config ./svgo.config.js"
}

add rendering engine
  apps/gateway/src/auth/auth.controller.ts
  apps/gateway/src/auth/index.ts
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/main.ts
  apps/gateway/src/views/auth-email-verified.ejs
  apps/mailer/src/services/template-render.service.ts
  nest-cli.json
  package-lock.json
  package.json
Due: eslint --fix

base email verification
  apps/auth/src/auth.controller.ts
  apps/auth/src/services/sign-up.service.ts
  apps/auth/src/services/verify-email.service.ts
  apps/gateway/src/auth/auth.controller.ts
  prisma/migrations/20230103122538_add_email_status/migration.sql
  prisma/schema.prisma
Due: eslint --fix

markup verification result page
  apps/auth/src/auth.controller.ts
  apps/auth/src/services/verify-email.service.ts
  apps/gateway/src/auth/auth.controller.ts
  apps/gateway/src/views/auth-email-verified.ejs
  apps/gateway/src/views/auth-verify-email.ejs
  apps/mailer/src/mailer.controller.ts
  libs/core/src/status-response.ts
  libs/core/src/success-response.ts
  static/auth/icons.svg
  static/auth/illustration.svg
  static/auth/verify-email.css
  static/favicon.svg
Due: eslint --fix, svgo --config ./svgo.config.js

add base work tables
  prisma/migrations/20230103161515_add_base_work/migration.sql
  prisma/schema.prisma
Due: none

add upload endpoint
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/illustrations/index.ts
  apps/gateway/src/illustrations/types/create-illustration.input.ts
  apps/gateway/src/illustrations/types/index.ts
  apps/gateway/src/main.ts
  apps/gateway/src/works/index.ts
  apps/gateway/src/works/types/create-work-category.input.ts
  apps/gateway/src/works/types/create-work.input.ts
  apps/gateway/src/works/types/index.ts
  apps/gateway/src/works/works.resolver.ts
  package-lock.json
  package.json
  schema.graphql
Due: eslint --fix

access to current user
  apps/auth/src/auth.controller.ts
  apps/auth/src/auth.module.ts
  apps/auth/src/services/authentication.service.ts
  apps/auth/src/services/index.ts
  apps/auth/src/services/sign-up.service.ts
  apps/auth/src/services/token.service.ts
  apps/gateway/src/auth/auth.interceptor.ts
  apps/gateway/src/auth/current-user.decorator.ts
  apps/gateway/src/auth/index.ts
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/users/types/user.object.ts
  apps/gateway/src/users/users.resolver.ts
  schema.graphql
Due: eslint --fix

add sign in
  apps/auth/src/auth.controller.ts
  apps/auth/src/auth.module.ts
  apps/auth/src/services/index.ts
  apps/auth/src/services/sign-in.service.ts
  apps/auth/src/types/index.ts
  apps/auth/src/types/sign-in-request.ts
  apps/gateway/src/auth/auth.interceptor.ts
  apps/gateway/src/auth/auth.resolver.ts
  apps/gateway/src/auth/types/index.ts
  apps/gateway/src/auth/types/sign-in.input.ts
  apps/gateway/src/common/decorators/index.ts
  apps/gateway/src/common/decorators/ql-response.ts
  schema.graphql
Due: eslint --fix

add auth guard
  apps/gateway/src/auth/auth.guard.ts
  apps/gateway/src/auth/auth.interceptor.ts
  apps/gateway/src/auth/authenticated-only.decorator.ts
  apps/gateway/src/auth/current-user.decorator.ts
  apps/gateway/src/auth/index.ts
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/users/users.resolver.ts
Due: eslint --fix

upload illustration to s3
  apps/uploader/src/services/upload.queue.ts
  apps/uploader/src/uploader.module.ts
  docker-compose.yaml
  libs/aws/src/s3/aws-s3.client.ts
  libs/aws/src/s3/aws-s3.module.ts
  libs/aws/src/s3/aws-s3.service.ts
  libs/aws/src/s3/index.ts
  libs/aws/tsconfig.lib.json
  libs/core/src/environment/environment.module.ts
  libs/core/src/environment/environment.service.ts
  libs/core/src/environment/types/aws-scope.ts
  libs/core/src/environment/types/environment-vars.ts
  libs/core/src/environment/types/index.ts
  libs/core/src/uploader-storage/uploader-storage.service.ts
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix

add works query
  apps/gateway/src/works/types/index.ts
  apps/gateway/src/works/types/work.object.ts
  apps/gateway/src/works/works.resolver.ts
  apps/uploader/src/services/upload.queue.ts
  apps/uploader/src/uploader.controller.ts
  apps/work/src/services/create-work.service.ts
  package-lock.json
  package.json
  prisma/migrations/20230106191204_remove_illustration_src/migration.sql
  prisma/schema.prisma
  schema.graphql
Due: eslint --fix

add illustration to work object
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/illustrations/illustration.resolver.ts
  apps/gateway/src/illustrations/index.ts
  apps/gateway/src/illustrations/types/illustration.object.ts
  apps/gateway/src/illustrations/types/index.ts
  apps/gateway/src/works/types/work.object.ts
  apps/gateway/src/works/works.resolver.ts
  apps/uploader/src/uploader.controller.ts
  libs/core/src/environment/environment.service.ts
  libs/core/src/environment/types/aws-scope.ts
  libs/core/src/environment/types/environment-vars.ts
  prisma/migrations/20230106195001_add_illustration_filename/migration.sql
  prisma/schema.prisma
  schema.graphql
Due: eslint --fix

fix prisma typing
  .eslintignore
  .gitignore
  apps/gateway/src/illustrations/illustration.resolver.ts
  apps/uploader/src/services/upload.queue.ts
  libs/database/src/prisma/index.ts
  nest-cli.json
  prisma/schema.prisma
Due: eslint --fix

add pagination
  apps/gateway/src/illustrations/types/illustration.object.ts
  apps/gateway/src/works/types/index.ts
  apps/gateway/src/works/types/work-filter.input.ts
  apps/gateway/src/works/types/work-filter.object.ts
  apps/gateway/src/works/works.resolver.ts
  apps/work/src/services/filter-works.service.ts
  apps/work/src/services/index.ts
  apps/work/src/types/filter-works-request.ts
  apps/work/src/types/filter-works-response.ts
  apps/work/src/types/index.ts
  apps/work/src/work.command.ts
  apps/work/src/work.controller.ts
  apps/work/src/work.module.ts
  libs/database/src/console.ts
  libs/database/src/database.module.ts
  libs/database/src/prisma/prisma.service.ts
  libs/database/src/seeds/client-provider.ts
  package-lock.json
  package.json
  prisma/migrations/20230107123503_add_work_position/migration.sql
  prisma/schema.prisma
  schema.graphql
Due: eslint --fix

use offset based pagination
  apps/gateway/src/works/types/index.ts
  apps/gateway/src/works/types/work-filter.input.ts
  apps/gateway/src/works/types/work-filter.object.ts
  apps/gateway/src/works/works.resolver.ts
  apps/work/src/services/filter-works.service.ts
  apps/work/src/types/filter-works-request.ts
  apps/work/src/types/filter-works-response.ts
  apps/work/src/types/index.ts
  apps/work/src/work.controller.ts
  prisma/migrations/20230107123503_add_work_position/migration.sql
  prisma/migrations/20230107142406_add_timestamps/migration.sql
  prisma/schema.prisma
  schema.graphql
Due: eslint --fix

add sorting
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/works/types/work-filter-sort.input.ts
  apps/gateway/src/works/types/work-filter.input.ts
  apps/work/src/services/filter-works.service.ts
  apps/work/src/types/filter-works-request.ts
  apps/work/src/types/index.ts
  libs/database/src/prisma/index.ts
  libs/database/src/prisma/types/index.ts
  libs/database/src/prisma/types/sort-order.enum.ts
  schema.graphql
Due: eslint --fix

get specific work
  apps/gateway/src/works/types/index.ts
  apps/gateway/src/works/types/work-get.args.ts
  apps/gateway/src/works/works.resolver.ts
  schema.graphql
Due: eslint --fix

add text search
  apps/gateway/src/works/types/work-filter.input.ts
  apps/work/src/services/filter-works.service.ts
  apps/work/src/types/filter-works-request.ts
  schema.graphql
Due: eslint --fix

add categories search
  apps/gateway/src/common/decorators/constraint-validator.ts
  apps/gateway/src/common/types/index.ts
  apps/gateway/src/gateway.module.ts
  apps/gateway/src/illustrations/types/illustration.object.ts
  apps/gateway/src/users/types/user.object.ts
  apps/gateway/src/works/types/create-work.input.ts
  apps/gateway/src/works/types/work-category.object.ts
  apps/gateway/src/works/types/work-filter.input.ts
  apps/gateway/src/works/types/work-get.args.ts
  apps/gateway/src/works/types/work.object.ts
  apps/work/src/services/filter-works.service.ts
  apps/work/src/types/filter-works-request.ts
  package-lock.json
  package.json
  schema.graphql
Due: eslint --fix

add user avatar
  .eslintignore
  .gitignore
  apps/auth/src/services/sign-up.service.ts
  apps/gateway/src/common/types/index.ts
  apps/gateway/src/common/types/upload.ts
  apps/gateway/src/illustrations/illustration.resolver.ts
  apps/gateway/src/illustrations/types/illustration.object.ts
  apps/gateway/src/users/types/user.object.ts
  apps/gateway/src/users/users.resolver.ts
  apps/gateway/src/works/types/work.object.ts
  apps/gateway/src/works/works.resolver.ts
  libs/database/src/console.ts
  libs/database/src/prisma/index.ts
  libs/database/src/prisma/prisma.service.ts
  libs/database/src/seeds/client-provider.ts
  libs/database/src/seeds/execute.ts
  libs/database/src/seeds/seed-avatars.ts
  nest-cli.json
  prisma/migrations/20230107180607_add_user_avatar/migration.sql
  prisma/schema.prisma
  schema.graphql
Due: eslint --fix

upload user avatar
  apps/auth/src/auth.microservices.ts
  apps/auth/src/services/sign-up.service.ts
  apps/auth/src/types/sign-up-request.ts
  apps/gateway/src/auth/auth.resolver.ts
  apps/gateway/src/auth/types/sign-up.input.ts
  apps/gateway/src/works/types/create-work.input.ts
  docker-compose.yaml
  schema.graphql
Due: eslint --fix

add setup script
  .gitignore
  ci/staging/setup-instance.sh
Due: none

add build configs
  .dockerignore
  ci/staging/appspec.yml
  ci/staging/build/api-base.Dockerfile
  ci/staging/build/microservice.Dockerfile
  ci/staging/build/nginx.Dockerfile
  ci/staging/codebuild.yaml
  ci/staging/docker-compose.yaml
  ci/staging/hooks/after-install.sh
  ci/staging/hooks/start.sh
  ci/staging/nginx/config.nginx
  package.json
Due: none

add test log
  ci/staging/codebuild.yaml
Due: none

remove silent flag
  ci/staging/codebuild.yaml
Due: none

add tmp to git
  .gitignore
  tmp/.keep
Due: none

fix fetch parameters path
  ci/staging/codebuild.yaml
Due: none

fix image label
  ci/staging/codebuild.yaml
Due: none

fix set build arg
  ci/staging/codebuild.yaml
Due: none

fix run db migrations
  ci/staging/hooks/start.sh
Due: none

try fix build microservice
  ci/staging/codebuild.yaml
Due: none

add pull false
  ci/staging/codebuild.yaml
Due: none

add pulling image before build
  ci/staging/codebuild.yaml
Due: none

add assigg in pull option
  ci/staging/codebuild.yaml
Due: none

use github tag in dockerfiles
  ci/staging/build/microservice.Dockerfile
  ci/staging/codebuild.yaml
Due: none

add push after build
  ci/staging/codebuild.yaml
Due: none

try fix generate prisma
  ci/staging/build/api-base.Dockerfile
  ci/staging/build/microservice.Dockerfile
Due: none

fix image names
  ci/staging/build/microservice.Dockerfile
  ci/staging/codebuild.yaml
  ci/staging/docker-compose.yaml
Due: none

fix scripts permissions
  ci/staging/hooks/after-install.sh
  ci/staging/hooks/start.sh
Due: none
